{% extends 'quiz/base.html' %}
{% load static %}
{% load bootstrap5 %}

{% block content %}
<style>
  /* .quiz-info-container {
    display: flex;
    align-items: center;
    background-color: #f5f5f5;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
} */

.quiz-icon svg {
    fill: #f39c12;
    width: 50px;
    height: 50px;
}

/* #quizInfo {
    font-size: 16px;
    color: #333;
    margin: 0;
    font-weight: bold;
} */

</style>
<div class="containers">
  <div class="row">
    <div class="col text-center">
      <p>Answer questions in each category and earn stars!</p>
      <img src="{% static 'images/character.jpg' %}" alt="Profile" style="width: 100px; height: 100px; margin-bottom: 10px; border-radius: 50%; object-fit: cover; border: 2px solid #ddd;">
      <p style="color: black;"><strong>{{ username }}</strong></p>
      <!-- <p>You have earned a total of ⭐ {{ total_stars }} stars.</p> -->
      <p>⭐ {{ total_stars }} stars</p>
    </div>
  </div>
    <h1 class="card-title text-center" style="padding: 20px 0;">Select Category</h1>
    <form method="get" action="{% url 'question_list' %}">
        <div style="display: flex; justify-content: center; gap: 10px;">
            <select class="form-select" name="category_id" id="categorySelect">
                <option value="" disabled selected>Choose</option>
                <!-- {% for category in categories %}
                    <option value="{{category.id}}">{{category.category}}</option>
                {% endfor %} -->
                {% for data in category_data %}
                    <option value="{{ data.category.id }}"
                            data-questions="{{ data.total_questions }}"
                            data-time="{{ data.total_time }}"
                            data-reward="{{ data.total_reward }}">
                        {{ data.category.category }}
                    </option>
                {% endfor %}
            </select>

            <!-- Button that triggers the modal -->
            <!-- <button type="submit" class="styled-button">Go</button> -->
            <button type="button" class="styled-button" style="background: #ec990d; width: 60px; border-radius: 5px;"
            data-bs-toggle="modal" data-bs-target="#quizModal">
                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </button>

            </div>
    </form>
</div>


<!-- Modal Popup -->
<div class="modal fade" id="quizModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content" style="color: black;">
        <div class="modal-header">
          <!-- <h5 class="modal-title" id="exampleModalLabel">Free Quiz</h5> -->
          <h5 class="modal-title" id="categoryName">Free Quiz</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <!-- <div class="modal-body text-center quiz-info-container d-flex align-items-center"> -->
        <div class="modal-body text-center quiz-info-container">
          <div class="quiz-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-patch-question" viewBox="0 0 16 16">
              <path d="M8.05 9.6c.336 0 .504-.24.554-.627.04-.534.198-.815.847-1.26.673-.475 1.049-1.09 1.049-1.986 0-1.325-.92-2.227-2.262-2.227-1.02 0-1.792.492-2.1 1.29A1.7 1.7 0 0 0 6 5.48c0 .393.203.64.545.64.272 0 .455-.147.564-.51.158-.592.525-.915 1.074-.915.61 0 1.03.446 1.03 1.084 0 .563-.208.885-.822 1.325-.619.433-.926.914-.926 1.64v.111c0 .428.208.745.585.745"/>
              <path d="m10.273 2.513-.921-.944.715-.698.622.637.89-.011a2.89 2.89 0 0 1 2.924 2.924l-.01.89.636.622a2.89 2.89 0 0 1 0 4.134l-.637.622.011.89a2.89 2.89 0 0 1-2.924 2.924l-.89-.01-.622.636a2.89 2.89 0 0 1-4.134 0l-.622-.637-.89.011a2.89 2.89 0 0 1-2.924-2.924l.01-.89-.636-.622a2.89 2.89 0 0 1 0-4.134l.637-.622-.011-.89a2.89 2.89 0 0 1 2.924-2.924l.89.01.622-.636a2.89 2.89 0 0 1 4.134 0l-.715.698a1.89 1.89 0 0 0-2.704 0l-.92.944-1.32-.016a1.89 1.89 0 0 0-1.911 1.912l.016 1.318-.944.921a1.89 1.89 0 0 0 0 2.704l.944.92-.016 1.32a1.89 1.89 0 0 0 1.912 1.911l1.318-.016.921.944a1.89 1.89 0 0 0 2.704 0l.92-.944 1.32.016a1.89 1.89 0 0 0 1.911-1.912l-.016-1.318.944-.921a1.89 1.89 0 0 0 0-2.704l-.944-.92.016-1.32a1.89 1.89 0 0 0-1.912-1.911z"/>
              <path d="M7.001 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0"/>
            </svg>
          </div>
          <!-- <p id="quizInfo">Answer 5 Questions in 60 seconds & win ⭐ 50. Get Time Bonus 1 ⭐ on answering all questions right.</p> -->
          <p id="quizInfo"></p>
        </div>
        <div class="modal-footer justify-content-center">
          <button type="button" class="btn btn-primary" id="playQuizBtn">Play</button>
        </div>
      </div>
    </div>
  </div>

  <script>
    document.getElementById('categorySelect').addEventListener('change', function() {
        const selectedOption = this.options[this.selectedIndex];

        const categoryName = selectedOption.text;
        const totalQuestions = selectedOption.getAttribute('data-questions');
        const totalTime = selectedOption.getAttribute('data-time');
        const totalReward = selectedOption.getAttribute('data-reward');

        document.getElementById('categoryName').innerText = categoryName;
        document.getElementById('quizInfo').innerText = `Answer ${totalQuestions} Question${totalQuestions > 1 ? 's' : ''} in ${totalTime} seconds & win ⭐ ${totalReward}. Get Time Bonus ⭐ 10 on answering all questions right.`;
        // document.getElementById('quizInfo').innerText = `Answer ${totalQuestions} Question${totalQuestions > 1 ? 's' : ''} in ${totalTime} seconds & win ⭐ ${totalReward}.`;
    });

    document.getElementById('playQuizBtn').addEventListener('click', function() {
      // Submit the form when 'Play' is clicked
      document.querySelector('form').submit();
    });
</script>
  
{% endblock %}